@model IEnumerable<AllPlayersViewModel>
@{
    ViewData["Title"] = "All";
}

<h1>All players</h1>



<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Win/Loses
            </th>
            <th>
                Points
            </th>
            <th>
                Town
            </th>
            <th>
                Current rank
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
        <tr>
            <th>
                @player.FirstName @player.LastName
            </th>
            <th>
                @player.Win/@player.Loses
            </th>
            <th>
                @player.Points
            </th>
            <th>
                @player.Town
            </th>
            <th>
                @player.Rank
            </th>

            @*<th>
            <a href="/tournaments/edit/@tournament.Id" class="btn btn-warning btn-sm">Edit</a>
            <a href="/tournaments/delete/@tournament.Id" class="btn btn-danger btn-sm">Delete</a>
            <a href="/tournaments/details/@tournament.Id" class="btn btn-info btn-sm">Details</a>
        </th>*@
        </tr>
        }
    </tbody>
</table>