@model IEnumerable<AllMatchesViewModel>

@using Microsoft.AspNet.Identity;
@{
    ViewData["Title"] = "All Matches";
}

<h1>@ViewData["Title"]</h1>
<link href="~/css/site.css" rel="stylesheet" />

@foreach (var match in Model)
{
    <table class="match-result-table">
        <tr>
            <td>
                @match.FirstPlayer.FirstName @match.FirstPlayer.LastName
            </td>
            <td rowspan="2">
                @match.Tournament.Name
            </td>
            <td rowspan="2">
                @if (match.Umpire != null && match.Umpire.Id == User.Identity.GetUserId())
                {

                    <a href="/matches/GetById/@match.Id" class="btn btn-warning btn-sm" title="You are an umpire for this match. Continue scoring..">Scoring</a>

                }

                @if (User.IsInRole(GlobalConstants.UmpireRole) && match.Umpire == null)
                {

                    <a href="/matches/BecomeUmpire/@match.Id" class="btn btn-warning btn-sm" title="Click if you wat to be an umpire!">Umpire</a>

                }
            </td>
            <td rowspan="2">
                Chair: @match.Umpire.FirstName @match.Umpire.LastName
            </td>
            <td rowspan="2">
                @if (match.IsFinished)
                {

                    <a class="text-success" title="Click if you wat to be an umpire!">Finished</a>

                }
                else
                {

                    <a class="text-primary" title="Click if you wat to be an umpire!">Not Finished</a>

                }
            </td>
        </tr>
        <tr>
            <td>
                @match.SecondPlayer.FirstName @match.SecondPlayer.LastName
            </td>

        </tr>
    </table>

}



