@model MatchScoreViewModel

@using System.Web.Mvc.Ajax
@using System.Web.Mvc
@using Microsoft.AspNet.Identity

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>


<link rel="stylesheet" type="text/css" href="~/css/Score.css">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<form asp-controller="Matches" asp-action="ChangeResult"
      data-ajax-method="POST"
      data-ajax="true">
</form>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Games
            </th>
            <th>
                Sets
            </th>
            <th>
                Points
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>
                @Model.FirstPlayer.FirstName
            </th>
            <th>
                @Model.FirstPlayerGames
            </th>
            <th>
                @Model.FirstPlayerSets
            </th>
            <th>
                @Model.FirstPlayerPoints
            </th>
        </tr>
        <tr>
            <th>
                @Model.SecondPlayer.FirstName
            </th>
            <th>
                @Model.SecondPlayerGames
            </th>
            <th>
                @Model.SecondPlayerSets
            </th>
            <th>
                @Model.SecondPlayerPoints
            </th>
        </tr>

    </tbody>
</table>



@if (User.Identity.GetUserId() == Model.UmpireId)
{
    <section class="sectionScore">
        <span id="span1" class="span" align="center">
            @Model.FirstPlayerPoints
        </span>

        <span class="span"> / </span>

        <span id="span2" class="span">
            @Model.SecondPlayerPoints
        </span>
    </section>

    <section class="section">
        <button class="button" id="firstPlayerPoints">Add First Player Point</button>
        <button class="button" id="secondPlayerPoints">Add Second Player Point</button>
    </section>
}


<script type="text/javascript">
   $(".button").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '@Html.Raw(Url.Action("ChangeResult", "Matches"))',
            data: {
                        buttonId: this.id,
                        matchId : @Model.Id,
                        firstPlayerPoints: @Model.FirstPlayerPoints,
                        firstPlayerGames : @Model.FirstPlayerGames,
                        firstPlayerSets: @Model.FirstPlayerSets,
                        firstPlayerTieBreakPoints :@Model.FirstPlayerTieBreakPoints,
                        secondPlayerPoints : @Model.SecondPlayerPoints,
                        secondPlayerGames: @Model.SecondPlayerGames,
                        secondPlayerSets : @Model.SecondPlayerSets,
                        secondPlayerTieBreakPoints:@Model.SecondPlayerTieBreakPoints,
            },
            dataType: "json",
            success: function (msg) {
                $("#span1").html(msg.firstPlayerPoints)
            },
            error: function () {
                alert('error');
            }
        });
    });

</script>
