@model IEnumerable<FinishedMatchesViewModel>
@{
    ViewData["Title"] = "Finished matches";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>


<script>
    var arr = ["0", "15", "30", "40", "Ad"];
</script>

<style>
    table {
        border-bottom: 1px solid black;
        table-layout: fixed;
        margin: 5px;
    }

    tr, th, td {
        /*border: solid 1px;*/
        align-content: center;
    }

    td {
        /*border: solid 1px;*/
        align-content: center;
    }

    .games {
        color: gray;
    }
</style>

<div id="container" class="container">
    @foreach (var match in Model)
    {
        <table>
            
            <tbody>
                <tr style="width:auto">
                    <td rowspan="2" width="90px" align="center">
                        <button class="btn btn-info btn-sm" onclick="myFunction(@match.Id)" value="1">Details</button>
                    </td>
                    <td class="playersName" style="width:auto">
                        @match.FirstPlayer.FirstName @match.FirstPlayer.LastName
                    </td>
                    <td class="sets">
                        @match.FirstPlayerSets
                    </td>
                    @foreach (var set in match.Sets)
                    {
                        <td class="games">
                            @set.FirstPlayerGames
                        </td>
                    }
                </tr>
                <tr style="width:auto">
                    <td class="playersName" style="width:auto">
                        @match.SecondPlayer.FirstName @match.SecondPlayer.LastName
                    </td>
                    <td class="sets">
                        @match.SecondPlayerSets
                    </td>
                    @foreach (var set in match.Sets)
                    {
                        <td class="games">
                            @set.SecondPlayerGames
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    }
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".container").css("inline-size", "max-content");
        $(".sets, .games").css("width", 50);
        $(".playersName").css("min-width", 300);
        $(".playersName").css("width", "auto");
    });

    function myFunction(matchId) {
        window.open("/Matches/GetMatchDetails/" + matchId, "", "width=400,height=400");
    }
</script>
