@model IEnumerable<FinishedMatchesViewModel>
@{
    ViewData["Title"] = "Finished matches";
}

<h1>@ViewData["Title"]</h1>


<script>
    var arr = ["0", "15", "30", "40", "Ad"];
</script>

<style>
    table {
        border: 1px solid black;
        width: 100%;
        margin: 5px;
    }

    tr, th, td {
        border: solid 1px;
        align-content: center;
    }

    td {
        border: solid 1px;
        align-content: center;
    }

    .games {
        color: gray;
    }
</style>

@foreach (var match in Model)
{
    <table>
        <tbody>
            <tr>
                <td rowspan="2" width="10%">
                    <button onclick="myFunction(@match.Id)" value="1">Details</button>
                </td>
                <td width="30%">
                    @match.FirstPlayer.FirstName @match.FirstPlayer.LastName
                </td>
                <td width="5%">
                    @match.FirstPlayerSets
                </td>
                @foreach (var set in match.Sets)
                {
                    <td class="games" width="10%">
                        @set.FirstPlayerGames
                    </td>
                }
            </tr>
            <tr>
                <td width="30%">
                    @match.SecondPlayer.FirstName @match.SecondPlayer.LastName
                </td>
                <td width="5%">
                    @match.SecondPlayerSets
                </td>
                @foreach (var set in match.Sets)
                {
                    <td class="games" width="10%">
                        @set.SecondPlayerGames
                    </td>
                }
            </tr>

        </tbody>
    </table>
}
@*@foreach (var match in Model)
    {
        <table>
            <tbody>
                <tr>

                    <th width="400px">
                        @match.FirstPlayer.FirstName @match.FirstPlayer.LastName
                    </th>
                    <th width="150px">
                        @match.FirstPlayerSets
                    </th>
                    @foreach (var set in match.Sets)
                    {
                        <th class="games" width="150px">
                            @set.FirstPlayerGames
                        </th>
                    }
                </tr>
                <tr>
                    <th width="400px">
                        @match.SecondPlayer.FirstName @match.SecondPlayer.LastName
                    </th>
                    <th width="150px">
                        @match.SecondPlayerSets
                    </th>
                    @foreach (var set in match.Sets)
                    {
                        <th class="games" width="150px">
                            @set.SecondPlayerGames
                        </th>
                    }
                </tr>

            </tbody>
        </table>
    }*@

<button onclick="myFunction()" value="1">Open</button>
<script>
    function myFunction(matchId) {
        window.open("/Matches/GetMatchDetails/" + matchId, "", "width=400,height=400");
    }
</script>

