@model LiveMatchesViewModel

@{
    ViewData["Title"] = "Live matches";
}

<h1>@ViewData["Title"]</h1>

<style>
    table {
        border-bottom: 1px solid black;
        width: 500px;
        margin: 5px;
    }

    tr, th {
        border: 1px black;
        align-content: center;
    }
</style>

<table align="center">
    <tbody>
        <tr>
            <th width="50%">
                @Model.FirstPlayer.FirstName @Model.FirstPlayer.LastName
            </th>
            <th>
                @Model.FirstPlayerSets
            </th>
            <th>
                @Model.FirstPlayerGames
            </th>
            <th id="fpp">
                @Model.FirstPlayerPoints
            </th>
        </tr>
        <tr>
            <th width="50%">
                @Model.SecondPlayer.FirstName @Model.SecondPlayer.LastName
            </th>
            <th>
                @Model.SecondPlayerSets
            </th>
            <th>
                @Model.SecondPlayerGames
            </th>
            <th id="spp">
                @Model.SecondPlayerPoints
            </th>
        </tr>
    </tbody>
</table>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/result.js"></script>