@model IEnumerable<LiveMatchesViewModel>

@{
    ViewData["Title"] = "Live matches";
}

<h1>@ViewData["Title"]</h1>
@{
    var arr = new[] { "0", "15", "30", "40", "Ad" };
}
<style>
    table {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        width: 500px;
        margin-bottom: 5px;
    }

    tr, th {
        border: 1px black;
        align-content: center;
    }

    th {
        width: 10%;
    }

    .playerName {
        width: 30%;
    }
</style>

@foreach (var match in Model)
{
    <table align="center" id=@match.Id>
        <tbody>
            <tr>
                <th class="playerName">
                    @match.FirstPlayer.FirstName @match.FirstPlayer.LastName
                </th>
                <th id="fps-@match.Id">
                    @match.FirstPlayerSets
                </th>
                <th id="fpg-@match.Id">
                    @match.FirstPlayerGames
                </th>
                <th id="fpp-@match.Id">
                    @arr[match.FirstPlayerPoints]
                </th>
                <th id="fptbp-@match.Id">
                    @match.FirstPlayerTieBreakPoints
                </th>
            </tr>
            <tr>
                <th class="playerName">
                    @match.SecondPlayer.FirstName @match.SecondPlayer.LastName
                </th>
                <th id="sps-@match.Id">
                    @match.SecondPlayerSets
                </th>
                <th id="spg-@match.Id">
                    @match.SecondPlayerGames
                </th>
                <th id="spp-@match.Id">
                    @arr[match.SecondPlayerPoints]
                </th>
                <th id="sptbp-@match.Id">
                    @match.SecondPlayerTieBreakPoints
                </th>
            </tr>
        </tbody>
    </table>
}


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/result.js"></script>