@model IEnumerable<AllTournamentsViewModel>
@using Microsoft.AspNet.Identity;
@{
    ViewData["Title"] = "All Tournaments with signed in players";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-primary" asp-controller="tournaments" asp-action="Create">Create</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Players
            </th>
            <th>
                Place
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>
                    @tournament.Name
                </td>
                <td>
                    @tournament.StartDate
                </td>
                <td>
                    @tournament.EndDate
                </td>
                <td>
                    @tournament.Players.Count/@tournament.NumberOfPlayers
                </td>
                <td>
                    @tournament.Place
                </td>
                <td>
                    @if (!tournament.Players.Any(p => p.Id == User.Identity.GetUserId())
&& tournament.Players.Count() < tournament.NumberOfPlayers)
                    {
                        <a href="/tournaments/signin/@tournament.Id" class="form-text">Sign in</a>
                    }
                    else if (tournament.Players.Any(p => p.Id == User.Identity.GetUserId())
                      && tournament.Players.Count() <= tournament.NumberOfPlayers)
                    {
                        <a href="/tournaments/signout/@tournament.Id" class="form-text">Sign out</a>
                    }
                    <a href="/tournaments/TournamentPlayers/@tournament.Id" class="form-text">Signed Players</a>
                </td>
                <td align="center">
                    @if (tournament.Players.Count() == tournament.NumberOfPlayers)
                    {
                        @if (!tournament.IsStarted && tournament.CreatorId.Equals(User.Identity.GetUserId()))
                        {
                            <a href="/tournaments/start/@tournament.Id" class="btn btn-warning btn-sm">Start</a>
                        }

                        @if (tournament.IsStarted)
                        {
                            <a href="/tournaments/start/@tournament.Id" class="btn btn-warning btn-sm disabled">Started</a>
                            <a href="/tournaments/getdraw/@tournament.Id" class="form-text">Draw</a>
                        }
                    }
                    else
                    {

                        <a href="/tournaments/start/@tournament.Id" class="btn btn-warning btn-sm disabled">Start</a>
                        <a href="/tournaments/getdraw/@tournament.Id" class="form-text">Draw</a>

                    }
                </td>

                @if (User.IsInRole(GlobalConstants.AdministratorRole))
                {
                    <td>
                        <a href="/tournaments/edit/@tournament.Id" class="form-text">Edit</a>
                        <a href="/tournaments/delete/@tournament.Id" class="form-tex">Delete</a>
                        <a href="/tournaments/details/@tournament.Id" class="form-tex">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>    