@model IEnumerable<MatchesViewModel>

@{
    ViewData["Title"] = "Tournament Draw";
}

<link rel="stylesheet" type="text/css" href="~/css/DrawTable.css">


<div id="scoresDrawTableContent" class="scores-draw-table-content">


    @{ var matches = Model.ToList(); }

    <div class="round">
        @for (int currentMatchIndex = 0; currentMatchIndex < matches.Count - 1; currentMatchIndex += 2)
        {
            int nextMatchIndex = currentMatchIndex + 1;
            var currentMatch = matches[currentMatchIndex];
            var nextMatch = matches[nextMatchIndex];

            <div class="relation">
                <div id="match-0-0" class="match">
                    <span class="participant home">
                        <span class="name">
                            @currentMatch.FirstPlayer.FirstName @currentMatch.FirstPlayer.LastName
                        </span>
                        <span class="score">@currentMatch.FirstPlayerSets</span>
                    </span>
                    <span class="participant">
                        <span class="name">
                            @currentMatch.SecondPlayer.FirstName @currentMatch.SecondPlayer.LastName
                        </span>
                        <span class="score">@currentMatch.SecondPlayerSets</span>
                    </span>
                </div>

                <div id="match-0-1" class="match">
                    <span class="participant home">
                        <span class="name">
                            @nextMatch.FirstPlayer.FirstName @nextMatch.FirstPlayer.LastName
                        </span>
                        <span class="score">@nextMatch.FirstPlayerSets</span>
                    </span>
                    <span class="participant">
                        <span class="name">
                            @nextMatch.SecondPlayer.FirstName @nextMatch.SecondPlayer.LastName
                        </span>
                        <span class="score">@nextMatch.SecondPlayerSets</span>
                    </span>

                </div>

                @*<span class="h t"></span>
                    <span class="h b"></span>
                    <span class="vt"></span>
                    <span class="vb"></span>
                    <span class="h m"></span>*@
            </div>
        }
    </div>


    <div class="round round-two">
        @for (int currentMatchIndex = 0; currentMatchIndex < matches.Count - 2; currentMatchIndex += 2)
        {
            int nextMatchIndex = currentMatchIndex + 1;
            var currentMatch = matches[currentMatchIndex];
            var nextMatch = matches[nextMatchIndex];

            <div class="relation">
                <div id="match-0-0" class="match">
                    <span class="participant home">
                        <span class="name">
                            @currentMatch.FirstPlayer.FirstName @currentMatch.FirstPlayer.LastName
                        </span>
                        <span class="score">@currentMatch.FirstPlayerSets</span>
                    </span>
                    <span class="participant">
                        <span class="name">
                            @currentMatch.SecondPlayer.FirstName @currentMatch.SecondPlayer.LastName
                        </span>
                        <span class="score">@currentMatch.SecondPlayerSets</span>
                    </span>
                </div>

                <div id="match-0-1" class="match">
                    <span class="participant home">
                        <span class="name">
                            @nextMatch.FirstPlayer.FirstName @nextMatch.FirstPlayer.LastName
                        </span>
                        <span class="score">@nextMatch.FirstPlayerSets</span>
                    </span>
                    <span class="participant">
                        <span class="name">
                            @nextMatch.SecondPlayer.FirstName @nextMatch.SecondPlayer.LastName
                        </span>
                        <span class="score">@nextMatch.SecondPlayerSets</span>
                    </span>

                </div>

                @*<span class="h t"></span>
                    <span class="h b"></span>
                    <span class="vt"></span>
                    <span class="vb"></span>
                    <span class="h m"></span>*@
            </div>
        }
    </div>

</div>